@keyframes openChat {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes openScoreTable {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}