body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #CCC;
}

section {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* pause */

section div#pauseObfuscation {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.501);
}

section div#pauseObfuscation h1#pauseText {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translateX(-50%) translateY(-50%);
}

/* Informações na tela */

section div#couter {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    width: 50px;
    height: 50px;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.404);
    border: solid black 2px;
    border-radius: 5px;
    animation: counter 1s ease infinite;
}

section div#lifeBar {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 200px;
    background-color: rgb(155, 155, 155);
    border: solid black 2px;
    border-radius: 5px;
}

section div#lifeBar div#lifeBar1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 3px;
    transition: all 0.9s ease-out;
}

section div#lifeBar div#lifeBar2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 223, 0);
    border-radius: 3px;
    transition: all 0.3s linear;
}

section div#lifeBar p#lifePercentText {
    color: black;
    transform: translateY(-50%);
}

section div#playerScore {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    border: solid black 2px;
    border-radius: 5px;
    padding: 4px;
}

section div#fpsDisplay {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    border: solid black 2px;
    border-radius: 5px;
    padding: 4px;
}

#gameElement {
    position: absolute;
    top: 0;
}